# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
ENV/
env/

# Apache Airflow runtime files
airflow.db
airflow.cfg
airflow-webserver.pid
standalone_admin_password.txt
logs/
*.pid

# Databases & local data
*.sqlite3
*.db
*.db-journal

# Environment variables & secrets
.env
.env.*

# OS and IDE files
.DS_Store
Thumbs.db
desktop.ini
.vscode/
.idea/
